[submodule "Introduction to Computing Systems and Programming"]
	path = Introduction to Computing Systems and Programming
	url = https://github.com/SM2A/Introduction_to_Computing_Systems_and_Programming_Course_Projects
[submodule "Advanced Programming"]
	path = Advanced Programming
	url = https://github.com/SM2A/Advanced_Programming_Course_Projects
[submodule "Engineering Probability and Statistics"]
	path = Engineering Probability and Statistics
	url = https://github.com/SM2A/Engineering_Probability_and_Statistics_Course_Project
[submodule "Digital Logic Design"]
	path = Digital Logic Design
	url = https://github.com/SM2A/Digital_Logic_Design_Course_Projects
[submodule "Digital Logic Design Lab"]
	path = Digital Logic Design Lab
	url = https://github.com/SM2A/Digital_Logic_Design_Lab_Course_Projects
[submodule "Computer Architecture"]
	path = Computer Architecture
	url = https://github.com/SM2A/Computer_Architecture_Course_Projects
[submodule "Artificial Intelligence"]
	path = Artificial Intelligence
	url = https://github.com/SM2A/Artificial_Intelligence_Course_Projects
[submodule "Signals and Systems"]
	path = Signals and Systems
	url = https://github.com/SM2A/Signals_and_Systems_Course_Projects
[submodule "Operating System"]
	path = Operating System
	url = https://github.com/SM2A/Operating_System_Course_Projects
[submodule "Operating System Lab"]
	path = Operating System Lab
	url = https://github.com/SM2A/Operating_System_Lab_Course_Projects
[submodule "Compiler and Programming Languages Design"]
	path = Compiler and Programming Languages Design
	url = https://github.com/SM2A/Compiler_and_Programming_Languages_Design_Course_Projects
[submodule "Computer Aided Design"]
	path = Computer Aided Design
	url = https://github.com/SM2A/Computer_Aided_Design_Course_Projects
[submodule "Computer Graphics"]
	path = Computer Graphics
	url = https://github.com/SM2A/Computer_Graphics
[submodule "Computer Architecture Lab"]
	path = Computer Architecture Lab
	url = https://github.com/SM2A/Computer_Architecture_Lab_Course_Projects
[submodule "Computer Networks"]
	path = Computer Networks
	url = https://github.com/SM2A/Computer_Networks_Course_Projects
[submodule "Software Testing"]
	path = Software Testing
	url = https://github.com/SM2A/University_Projects
